{% extends "layout.html" %}
{% block content %}
<h3>File listing for “/{{ path }}”</h3>
<table>
    <tr>
        <th><!-- icon --></th>
        <th>Name</th>
        <th>Mimetype</th>
        <th>Size</th>
        <th>Modified</th>
    </tr>
{% for item in list %}
    <tr>
        <td><img src="{{ item.icon }}" /></td>
        <td class="name"><a href="{{ item.href }}">{{ item.name }}</a></td>
        <td>{{ item.mimetype }}</td>
        <td>{{ item.size }}</td>
        <td>{{ item.mtime }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}